.formulario-login{
    border: 2px solid var(--color-cabeza);
    width: 50%;
    margin:10vh auto 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgb(210, 210, 241);
    box-shadow: 5px 5px 5px rgb(1, 1, 27);
    background:#D6E7FC ;
    .titulo{
        margin:3vh auto 2vh auto;
        color: rgb(3, 3, 31);
    }
    & label{
        margin: auto auto 0.2rem 5%;
        font-size: 1.2rem;
        color: rgb(5, 5, 41);
    }
    .entrada{
        margin: auto 5% 1rem 5%;
        font-size: 1.2rem;
        padding: 5px;
        outline: none;
        background: rgb(242, 244, 252);
        border: 1px solid rgb(14, 14, 116);
        border-radius: 5px;
        color: rgb(4, 4, 32);
        &::placeholder{
            color: rgb(130, 138, 212);
        }
    }
    .boton{
        margin: 0.5rem auto 2rem 5%;
        padding: 5px 10px;
        font-size: 1.2rem;
    }
}